langchain
langgraph
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
chromadb
sentence-transformers
pypdf
python-dotenv
huggingface_hub